#contacto {
  background: linear-gradient(to top, #ffffff00 80%, #ffffffff),
    linear-gradient(#ffffff, #1f5174cc 80%),
    url("../images/Imagen_cabecera_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 70vh;
}

#contacto h2 {
  text-align: center;
  padding: 32px;
}

.contacto {
  width: 85%;
  margin: 0 auto;
  z-index: 100;
}

.contacto-container {
  width: 100%;
}

.contacto-info p {
  font-size: 0.9rem;
  padding: 0 40px 0 0;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 200px;
}

.form-container [type="text"],
.form-container [type="email"] {
  border: none;
  height: 30px;
  width: 50%;
  outline: none;
  padding-left: 12px;
}

.form-container textarea {
  border: none;
  width: 50%;
  height: 76px;
  outline: none;
  padding: 8px 12px 0 12px;
  resize: none;
  font-family: Lato, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.form-container button {
  background-color: var(--mainColor);
  border: none;
  color: #fff;
  height: 30px;
  outline: none;
  width: 52%;
}

.aviso label {
  font-size: 0.8rem;
}

.aviso a {
  text-decoration: underline;
  color: var(--mainColor);
}

.contacto-redes {
  height: 350px;
  display: grid;
  place-content: center;
}

.redes-container {
  gap: 8px;
}

.redes {
  width: 54px;
  height: 54px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.redes a svg {
  width: 48px;
  height: 48px;
}
