@font-face {
  font-family: "Merriweather";
  font-display: auto;
  src: url("fonts/Merriweather-Regular.tff");
}

@font-face {
  font-family: "Lato";
  font-display: auto;
  src: url("fonts/Lato-Regular.tff");
}
