/* header */
.menu {
  flex-direction: column;
}
.phone {
  justify-content: flex-end;
  text-align: center;
  gap: 0.5rem;
}

.phone a {
  padding: 0.25rem;
  font-weight: 600;
  font-size: 0.7rem;
  position: relative;
}
.phone a span svg {
  padding-right: 0.15rem;
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 3px;
  left: -10px;
}

.logo {
  max-width: 300px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

#menu {
  gap: 0.5rem;
  width: 70%;
}

#menu li {
  text-transform: uppercase;
  list-style: none;
  width: 100%;
  font-size: 0.7rem;
}
