@import url("./fonts.css");
@import url("./header.css");
@import url("./home.css");
@import url("./wedo.css");
@import url("./featuredProperties.css");
@import url("./vender.css");
@import url("./contacto.css");

html {
  --footerColor: #011a29;
  --mainColor: #0068a8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Lato, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
}

.container {
  width: 1200px;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 0.15rem;
  border: 1px solid grey;
  cursor: pointer;
  padding: 0.5rem;
  text-align: center;
  width: 8rem;
}

.btn-login {
  color: var(--mainColor);
}
